@page
@model PrivacyModel
@{
    ViewData["Title"] = "Soukromí";
}
<h1>@ViewData["Title"]</h1>
<hr/>

<p>Pokud chcete získat další informace o právech souvisejících s ochranou osobních údajů, nebo chcete některé z nich uplatnit, kontaktujte nás kdykoli e-mailem na adrese <a href="mailto:personaldataprotection@eu.asahibeer.com">personaldataprotection@eu.asahibeer.com</a>.</p>
<p>Tento dokument je politika – směrnice o ochraně soukromí fyzických osob, ustanovuje pravidla pro společnost Plzeňský Prazdroj, a. s., IČO 45357366, se sídlem U Prazdroje 64/7, Východní Předměstí, 301 00 Plzeň (dále jako „Společnost“, „Asahi“, „naše“, „nás“ nebo „my“), člena skupiny společností Asahi, jejímž konečným vlastníkem je společnost Asahi Group Holdings, Ltd., s ústředím na adrese 23-1 Azumabashi, 1-chome, Sumida-ku, Tokio, 130-8602, Japonsko.</p>
<p>Tento dokument je dostupný na webových stránkách, které provozuje Společnost.</p>
<p>
    Ceníme si soukromí osob, které nám poskytují osobní údaje. Tato směrnice se vztahuje na naše zákazníky, zaměstnance, kteří pracují pro naše zákazníky, návštěvníky webů, distributory, naše dodavatele (a potenciální dodavatele), zaměstnance těchto dodavatelů a smluvní partnery. Popisuje:<br/>
    údaje, které vás identifikují a které shromažďujeme;<br/>
    způsob používání těchto údajů;<br />
    právní východiska, na jejichž základě je zpracováváme;<br/>
    s kým je sdílíme, a<br/>
    jak je uchováváme.
</p>

<p>Tento dokument také popisuje další důležitá témata související s vašimi údaji a jejich důvěrností.</p>
<p><b>Pečlivě si tuto směrnici přečtěte, abyste věděli, jak s vašimi osobními údaji nakládáme.</b></p>
<p>Tím, že navštívíte nebo procházíte náš web, kontaktujete nás prostřednictvím sociálních médií nebo pro nás pracujete, nabízíte nám zboží nebo služby, používáte některé z našich produktů nebo služeb, které vám poskytujeme, nebo nám své údaje poskytujete jinak (včetně účasti v soutěžích nebo při návštěvě našich akcí nebo pivovarů), potvrzujete, že jste si přečetli úplné znění této směrnice o ochraně soukromí.</p>

<p>Tato směrnice se skládá z následujících částí:</p>
<ol>
    <li>Shromažďování údajů
        <p>...</p>
    </li>
    <li>Používání údajů
        <p>...</p>
    </li>
    <li>Právní základ používání vašich osobních údajů
        <p>...</p>
    </li>
    <li>Soubory cookie
        <p>...</p>
    </li>
    <li>Sdělování osobních údajů
        <p>...</p>
    </li>
    <li>Uchovávání osobních údajů
        <p>...</p>
    </li>
    <li>Vaše práva
        <p>...</p>
    </li>
    <li>Marketing
        <p>...</p>
    </li>
    <li>Přenos dat
        <p>...</p>
    </li>
    <li>Bezpečnost
        <p>...</p>
    </li>
    <li>Weby třetích stran
        <p>...</p>
    </li>
    <li>Změny směrnice o ochraně soukromí
        <p>...</p>
    </li>
    <li>Další otázky nebo podávání stížností
        <p>...</p>
    </li>
</ol>
